@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
    --font-marcellus: "Marcellus", serif;
    --color-primary: ;
    --text-secondary: black;
}

.orange-color {
    color: #edc458;
}
body {
    font-family: var(--font-sans);
    color: white;
}

.parent {
    display: grid !important;
    grid-template-columns: 100px 1fr !important;
    grid-template-rows: auto 1fr auto !important;
    width: 100% !important;
    min-height: 100vh !important;
}

.header {
    grid-column: 1 / 3 !important;
    grid-row: 1 !important;
}

.hero-sidebar {
    grid-column: 1 / 2 !important ;
    grid-row: 2 / 4 !important;
    z-index: 20 !important;
}

.main {
    grid-column: 2 / 3 !important;
    grid-row: 2 !important;
}

.hero-bottombar {
    grid-column: 2 / 3 !important;
    grid-row: 3 !important;
}
